* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: "B612", sans-serif;
  background-color: #aaabe4;
  color: #3a3dd8;
  font-size: 18px;
}

h1 {
  width: 100%;
  padding: 1em 0;
  margin: 0;
  font-size: 3em;
  text-align: center;
  font-family: "Archivo", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 800px;
}

.hide {
  display: none;
}

.highlight {
  padding: 0.5em;
  background: white;
  font-size: 1.25em;
}

.underline {
  border-bottom: 2px solid #fff;
  padding-bottom: 3px;
}

.word-in-progress {
  letter-spacing: 15px;
}

.guessed-letters {
  padding: 0;
  list-style: none;
}
.guessed-letters li {
  display: inline-block;
  padding: 0 0.5em;
}
.message {
  text-align: center;
}

.guess-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guess-form label {
  width: 100%;
}
input {
  width: 2em;
  text-align: center;
  font-size: 1.5em;
  margin-top: 0.5em;
  padding: 0.5em;
  border: 0;
}

input:active,
input:focus {
  outline: 0;
  border: 3px solid #3a3dd8;
}


.guess, .play-again {
  padding: 0.75em;
  margin-top: 1em;
  color: #3a3dd8;
  font-size: 1.25em;
  align-self: center;
  outline: none;
  border: 0;
  cursor: pointer;
}

.guess:active, .play-again:active,
.guess:focus, .play-again:focus,
.guess:hover, .play-again:hover {
  outline: 0;
  transform: scale(0.98);
  background: #3a3dd8;
  color: white;
}

/* animatied background */
.win {
  padding: 2em;
  background: linear-gradient(-45deg, #ff9d64, #f5620c);
  background-size: 400% 400%;
  animation: gradient 2s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
